.formContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;

  text-align: center;

  > :first-child {
    margin-bottom: 8px;
  }

  > :last-child {
    margin-top: 46px;
  }

  .signIn {
    width: 100%;
    color: var(--color-light-900, #c3c1c7);
    text-decoration: none;
  }
}
