.formContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;

  &:last-child {
    text-align: center;
  }

  .title {
    margin-bottom: 16px;
    color: var(--color-light-100, #fff);
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    margin-bottom: 12px;

    text-align: left;

    .button {
      margin-top: 46px;
    }

    .recoveryPassword {
      align-self: end;
      width: fit-content;
      text-decoration: none;
    }
  }

  .dontHaveAnAccount {
    color: var(--color-light-900, #c3c1c7);
    text-align: center;
  }

  .singUp {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
    text-decoration-line: underline;
  }
}
