.formContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;

  text-align: center;

  > :first-child {
    margin-bottom: 8px;
  }

  > :last-child {
    margin-top: 46px;
  }

  .signIn {
    text-decoration: none;
  }
}
