.container{
  display: flex;
  flex-direction: column;
  gap: 51px;

  .title{
    align-self: center;
  }

form{
  display: flex;
  flex-direction: column;
  gap: 19px;

  .instructions {
    color: var(--color-dark-100, #808080);
  }

  >:last-child{
    margin-top: 41px;
  }
}
}


