.title {
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > :first-child {
      margin-top: 50px;
      color: var(--color-dark-100, #808080);
    }

    > :last-child {
      margin-bottom: 10px;
    }
  }

  .instructions {
    color: var(--color-dark-100, #808080);
  }

  .alreadyHaveAnAccount {
    color: var(--color-light-900, #c3c1c7);
  }

  .singIn {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
    text-decoration-line: underline;
  }
}
